trigger:
  branches:
    include:
      - master
      - feature/*

pool:
  vmImage: 'windows-Latest'

stages:
  - stage: Build
    displayName: "Build and publish stage"
    jobs:
      - job:
        displayName: Build Job
        steps:
          - task: UseDotNet@2
            displayName: "Install .Net code SDK"
            inputs:
              packageType: sdk
              version: '9.0.x'

          - task: DotNetCoreCLI@2
            displayName: 'restore Task'
            inputs:
              command: 'restore'
              feedsToUse: 'select'
              vstsFeed: "my-vsts-feed"

          - task: DotNetCoreCLI@2
            displayName: 'Build Task'
            inputs:
              command: 'build'
              projects: '**/*.csproj'
              arguments: '--configuration $(buildconfiguration)'

          - task: DotNetCoreCLI@2
            displayName: publish artifacts
            inputs:
              command: publish
              publishWebProjects: true
              arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
              zipAfterPublish: true

          - task: PublishPipelineArtifact@1
            displayName: publish to PublishPipelineArtifact@1
            inputs:
              targetPath: '$(Build.ArtifactStagingDirectory)' 
              artifactName: 'myWebsite' 

  - stage: Deploy_to_webApps
    displayName: Deploy to webApps
    jobs:
      - job:
        displayName: Deploy to webApps
        steps:
          - task: AzureWebApp@1 #This Will be deployed to Azure Web APP
            inputs:
              azureSubscription: 'dev_azure_connection_01'
              appType: 'webApp'
              appName: 'webapp005'
              package: '$(System.DefaultWorkingDirectory)/**/*.zip'
              deploymentMethod: 'auto'