trigger:
  branches:
    include:
      - master
      - feature/*

pool:
  vmImage: 'windows-Latest'

stages:
  - stage: Builddotnetapp
    displayName: Build the application
    jobs:
      - job:
        displayName: Build Job
        steps:
          - task: UseDotNet@2
            displayName: "Install .Net code SDK"
            inputs:
              packageType: 'sdk'
              version: '9.x'

          - task: DotNetCoreCLI@2
            displayName: dotnetbuild
            inputs:
              command: 'build'
              projects: '**/*.csproj'
              zipAfterPublish: true

          - task: DotNetCoreCLI@2
            displayName: dotnetrestore
            inputs:
              command: 'restore'
              projects: '**/*.csproj'

          - task: CopyFiles@2
            displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
            inputs:
               SourceFolder: '$(system.defaultworkingdirectory)'
               Contents: '**\bin\$(BuildConfiguration)\**'
               TargetFolder: '$(build.artifactstagingdirectory)'
            condition: succeededOrFailed()

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifact: drop'
            inputs:
               PathtoPublish: '$(build.artifactstagingdirectory)'
            condition: succeededOrFailed()
